---
import RootLayout from "./RootLayout.astro";

type Props = {
  title?: string;
  images?: string[];
};

const { title, images } = Astro.props;
---

<RootLayout title={title}>
  <h1 class="text-3xl font-bold">{title}</h1>
  {
    images?.map((image) => (
      <img class="h-56 w-56 bg-red-500" alt="article-image" src={image} />
    ))
  }
  <slot />
</RootLayout>
