---
import ArticleLayout from "@layouts/ArticleLayout.astro";
---

<ArticleLayout>
  <article>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo voluptate
      omnis, odio distinctio quisquam possimus reiciendis, qui amet blanditiis
      porro aut placeat sunt beatae minus, delectus et tempora asperiores
      impedit?
    </p>
  </article>
  <section>otra sección</section>
</ArticleLayout>
