---
import { Icon } from "astro-icon/components";
import NavList from "./NavList.astro";
---

<div class="md:hidden">
  <button
    id="open-menu-button"
    class="hover:bg-neutral-800 transition-colors p-2 rounded-md cursor-pointer"
  >
    <Icon name="menu-icon" size={24} />
  </button>
  <div
    id="sidebar-menu"
    class:list={[
      "absolute top-0 left-full z-10 bg-neutral-50 text-neutral-900 p-4 h-dvh w-80 space-y-8 shadow-lg",
      "transition-transform",
    ]}
  >
    <div class="flex gap-4 items-center">
      <button
        id="close-menu-button"
        class="hover:bg-neutral-200 transition-colors p-2 rounded-md cursor-pointer"
      >
        <Icon name="close-icon" size={24} />
      </button>
      <h3 class="text-lg font-semibold">Menú</h3>
    </div>
    <NavList
      shouldDefaultHidden={false}
      className="flex-col *:hover:text-neutral-50"
    />
  </div>
</div>

<script>
  import { $ } from "@utils/$";

  const sidebar = $<HTMLDivElement>("#sidebar-menu");
  const openButton = $<HTMLButtonElement>("#open-menu-button");
  const closeButton = $<HTMLButtonElement>("#close-menu-button");

  function handleToggle() {
    sidebar?.classList.toggle("-translate-x-80");
  }

  if (openButton && closeButton) {
    openButton.addEventListener("click", handleToggle);
    closeButton.addEventListener("click", handleToggle);
  }
</script>
