---
import RootLayout from "./RootLayout.astro";

type Props = {
  title?: string;
  imageReference?: string;
};

const { title, imageReference } = Astro.props;
---

<RootLayout title={title}>
  <h1 class="text-3xl font-bold">{title}</h1>
  {
    imageReference && (
      <img
        class="h-56 w-56 bg-red-500"
        src={imageReference}
        alt="article-image"
      />
    )
  }
  <slot />
</RootLayout>
