---
import SidebarMenu from "@components/SidebarMenu.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "La Iglesia de Cristo"}</title>
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body
    id="root"
    class="flex flex-col min-h-dvh bg-neutral-50 text-neutral-800 overflow-x-hidden"
  >
    <Header />
    <SidebarMenu />
    <main class="md:py-10 grow-[1] container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
